In [1]:
print("hello world")

hello world

In [2]:
# 注释

### 数字类型
- int整数
- float浮点数
- bool布尔值
- 复数

In [5]:
1 + 2

3

In [6]:
type(1)

int

In [7]:
print("1+2=", 1+2)
print("1-2=", 1-2)
print("1*2=", 1*2)#乘法
print("1/2=", 1/2)#除法
print("1%2=", 1%2)#余数
print("1**2=", 1**2)#幂

1+2= 3
1-2= -1
1*2= 2
1/2= 0.5
1%2= 1
1**2= 1

In [8]:
1.0+2.0

3.0

In [9]:
int(0.1)

0

In [10]:
int(1.9)

1

In [11]:
float(3)

3.0

In [13]:
#变量，是一个值的名字
age1 = 20
age2 = 20
sum3 = age1+age2
print('age1', age1)
print('age2', age2)
print('sum', sum3)

age1 20
age2 20
sum 40

In [14]:
#变量命名规则
#第一个字符是字母或者下划线
#其他可以是字母、数字、下划线
#大小写敏感
#系统保留字不能用

In [15]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [16]:
a = 10
a

10

In [17]:
a == 10

True

也可以用IDE和命令行运行python

In [18]:
print("5+10",5+10)
print("5-10",5-10)
print("5*10",5*10)
print("5/10",5/10)
print("5.0+10.0",5.0+10.0)
print("5.0-10.0",5.0-10.0)
print("5.0*10.0",5.0*10.0)
print("5.0/10.0",5.0/10.0)

5+10 15
5-10 -5
5*10 50
5/10 0.5
5.0+10.0 15.0
5.0-10.0 -5.0
5.0*10.0 50.0
5.0/10.0 0.5

In [19]:
grade1 = 90
grade2 = 80
grade3 = 70
sum = grade1 + grade2 + grade3
mean = sum / 3
print("sum", sum)
print("mean", mean)

sum 240
mean 80.0