In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import codecs
import re
import sys,os
import warnings
warnings.filterwarnings('ignore')

In [63]:
df = pd.read_csv('./train.csv',lineterminator='\n')
df.head()
labels = df.label

In [64]:
count = 0
reviews = []
for x in df.review:
    x = re.findall(re.compile('\w+'),str(x))
    x = " ".join(x)
    reviews.append(x)
    count += 1

df = pd.DataFrame({
    'ID':list(range(1,len(reviews)+1)),
    'review':reviews,
    'label': labels
})
df.head()

   ID                                             review     label
0   1                       Jo bhi ap se tou behtar hoon  Negative
1   2          ya Allah meri sister Affia ki madad farma  Positive
2   3  Yeh khud chahta a is umar main shadi krna had ogi  Negative
3   4             Tc Apky mun xe exe alfax achy nae lgty  Negative
4   5                                               Good  Positive

In [65]:
df.to_csv('./train_clean.csv',index=False)

In [66]:
df = pd.read_csv('./train_clean.csv')
df.head()

   ID                                             review     label
0   1                       Jo bhi ap se tou behtar hoon  Negative
1   2          ya Allah meri sister Affia ki madad farma  Positive
2   3  Yeh khud chahta a is umar main shadi krna had ogi  Negative
3   4             Tc Apky mun xe exe alfax achy nae lgty  Negative
4   5                                               Good  Positive